    .splash-container {
        display: flex;
        justify-content: center;
        align-items: center;
        height: 100vh;
        background-color: #ffffff; /* Fondo blanco */
        position: fixed;
        top: 0;
        left: 0;
        width: 100%;
        z-index: 9999;
    }
    
    .splash-image {
        width: 300px;
        height: auto;
    }
    