<ion-card class="recipe-card">
  <div class="image-container">
    <ion-img *ngIf="recipe.image" [src]="recipe.image"></ion-img>
  </div>
  <ion-card-header>
    <ion-card-title>{{ recipe.name }}</ion-card-title>
    <ion-card-subtitle>Chef: {{ recipe.chef?.name || 'Sin Chef' }}</ion-card-subtitle>
  </ion-card-header>
  <ion-card-content>
    <p><strong>Ingredientes:</strong> {{ recipe.ingredients }}</p>
    <p><strong>Descripción:</strong> {{ recipe.descriptions }}</p>
  </ion-card-content>
  <div class="buttons">
    <ion-button color="primary" (click)="editRecipe()">
      <ion-icon name="create-outline"></ion-icon>
    </ion-button>
    <ion-button color="danger" (click)="deleteRecipe()">
      <ion-icon name="trash-outline"></ion-icon>
    </ion-button>
    <ion-button color="warning" (click)="toggleFavorite()">
      <ion-icon name="heart-outline"></ion-icon>
    </ion-button>
  </div>
</ion-card>
