    .recipe-grid {
        display: grid;
        grid-template-columns: repeat(1, 4fr); /* 4 columnas */
        gap: 16px; /* Espacio entre las cartas */
        padding: 16px;
    }
    
    .recipe-card {
        border: 1px solid #ddd;
        border-radius: 12px;
        box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
        transition: transform 0.2s; /* Animación al pasar el cursor */
        background-color: #fff;
        overflow: hidden; /* Asegura que los bordes sean redondeados */
        display: flex;
        flex-direction: column;
        justify-content: space-between;
    
        &:hover {
        transform: scale(1.03); /* Efecto de zoom */
        }
    
        .recipe-image {
        width: 100%; /* Ocupa todo el ancho de la carta */
        height: 150px; /* Altura fija */
        object-fit: cover; /* Ajusta la imagen sin recortar */
        border-bottom: 1px solid #ddd; /* Separador entre imagen y contenido */
        }
    
        .content {
        padding: 16px;
        text-align: center;
    
        h2 {
            font-size: 18px;
            color: #333;
            margin-bottom: 8px;
        }
    
        p {
            font-size: 14px;
            color: #666;
            margin-bottom: 16px;
        }
        }
    
        .buttons {
        display: flex;
        gap: 8px;
        justify-content: center;
        padding: 8px;
    
        ion-button {
            --background: #3880ff; /* Azul por defecto */
            --color: white;
            border-radius: 4px;
            padding: 8px 12px;
    
            &:nth-child(2) {
            --background: #dc3545; /* Botón rojo para eliminar */
            }
        }
        }
    }
    
    /* Responsivo */
    @media (max-width: 1024px) {
        .recipe-grid {
        grid-template-columns: repeat(2, 1fr); /* 2 columnas en tablets */
        }
    }
    
    @media (max-width: 768px) {
        .recipe-grid {
        grid-template-columns: 1fr; /* 1 columna en móviles */
        }
    }
    