    .recipe-card {
        border: 1px solid #ddd;
        border-radius: 8px;
        padding: 16px;
        box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
        transition: transform 0.2s; /* Animación al pasar el cursor */
        background-color: #fff;
        
        &:hover {
        transform: scale(1.03); /* Efecto de zoom */
        }
    
        h2 {
        margin: 0;
        font-size: 20px;
        color: #333;
        }
    
        p {
        margin: 8px 0;
        font-size: 14px;
        color: #666;
        }
    
        .buttons {
        display: flex;
        gap: 8px;
        margin-top: 16px;
    
        button {
            background-color: #ffbb00;
            color: #fff;
            border: none;
            padding: 8px 16px;
            border-radius: 4px;
            cursor: pointer;
    
            &:hover {
            background-color: #0056b3;
            }
    
            &:nth-child(2) {
            background-color: #dc3545;
    
            &:hover {
                background-color: #a71d2a;
            }
            }
        }
        }
    }
    
    /* Responsivo para la cuadrícula de las cartas */
    .recipe-grid {
        display: grid;
        grid-template-columns: repeat(3, 1fr); /* Tres columnas por defecto */
        gap: 16px;
        padding: 16px;
    }
    
    /* Ajustes para pantallas más pequeñas */
    @media (max-width: 1024px) {
        .recipe-grid {
        grid-template-columns: repeat(2, 1fr); /* Dos columnas en tablets */
        }
    }
    
    @media (max-width: 768px) {
        .recipe-grid {
        grid-template-columns: 1fr; /* Una columna en móviles */
        }
    }
    
    @media (max-width: 480px) {
        .recipe-card {
        padding: 12px;
        h2 {
            font-size: 18px;
        }
    
        p {
            font-size: 12px;
        }
    
        .buttons button {
            padding: 6px 12px;
            font-size: 12px;
        }
        }
    }
    