<app-splash *ngIf="showSplash"></app-splash>

<ion-content *ngIf="!showSplash">
  <div class="auth-container">
    <div class="auth-card">
      <div class="auth-logo">
        <img src="assets/recipe-logo.webp" alt="Receteo Logo" />
      </div>
      <h1 class="auth-title">
        {{ translationService.getTranslation('LOGIN.TITLE') }}
      </h1>
      <form [formGroup]="loginForm" (ngSubmit)="onSubmit()">
        <ion-item>
          <ion-label position="floating">
            {{ translationService.getTranslation('LOGIN.EMAIL') }}
          </ion-label>
          <ion-input type="email" formControlName="identifier"></ion-input>
        </ion-item>
        <ion-item class="password-item">
          <ion-label position="floating">
            {{ translationService.getTranslation('LOGIN.PASSWORD') }}
          </ion-label>
          <ion-input
            [type]="showPassword ? 'text' : 'password'"
            formControlName="password"
          ></ion-input>
          <ion-icon
            name="{{ showPassword ? 'eye-off-outline' : 'eye-outline' }}"
            slot="end"
            class="toggle-password-icon"
            (click)="togglePasswordVisibility()"
          ></ion-icon>
        </ion-item>
        <button type="submit">
          {{ translationService.getTranslation('LOGIN.LOGIN_BUTTON') }}
        </button>
      </form>
      <a routerLink="/register">
        {{ translationService.getTranslation('LOGIN.REGISTER_LINK') }}
      </a>
    </div>
  </div>
</ion-content>
