    ion-menu {
        --width: 250px;
    }
    
    ion-toolbar {
        --background: #f29513;
        --color: #fff;
    }
    
    ion-item {
        --border-color: transparent;
    
        ion-icon {
        margin-right: 8px;
        font-size: 20px;
        }
    }
    