<ion-header>
  <ion-toolbar color="primary" class="modal-header">
    <ion-title>
      {{ translationService.getTranslation(recipe.id ? 'RECIPES.EDIT_RECIPE' : 'RECIPES.NEW_RECIPE') }}
    </ion-title>
    <ion-buttons slot="end">
      <ion-button (click)="close()" color="light">
        <ion-icon slot="icon-only" name="close-circle-outline"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content style="--overflow: auto; scrollbar-width: none; -ms-overflow-style: none;">
  <div class="modal-content">
    <!-- Campo de nombre -->
    <div class="input-group">
      <ion-icon name="create-outline" class="input-icon"></ion-icon>
      <ion-item class="custom-item">
        <ion-label position="floating">
          {{ translationService.getTranslation('RECIPES.NAME') }}
        </ion-label>
        <ion-input [(ngModel)]="recipe.name"></ion-input>
      </ion-item>
    </div>

    <!-- Campo de ingredientes -->
    <div class="input-group">
      <ion-icon name="nutrition-outline" class="input-icon"></ion-icon>
      <ion-item class="custom-item">
        <ion-label position="floating">
          {{ translationService.getTranslation('RECIPES.INGREDIENTS') }}
        </ion-label>
        <ion-textarea [(ngModel)]="recipe.ingredients" autoGrow></ion-textarea>
      </ion-item>
    </div>

    <!-- Campo de descripción -->
    <div class="input-group">
      <ion-icon name="information-circle-outline" class="input-icon"></ion-icon>
      <ion-item class="custom-item">
        <ion-label position="floating">
          {{ translationService.getTranslation('RECIPES.DESCRIPTION') }}
        </ion-label>
        <ion-textarea [(ngModel)]="recipe.descriptions" autoGrow></ion-textarea>
      </ion-item>
    </div>

    <!-- Campo de chef -->
    <div class="input-group">
      <ion-icon name="person-circle-outline" class="input-icon"></ion-icon>
      <ion-item class="custom-item">
        <ion-label position="floating">
          {{ translationService.getTranslation('RECIPES.CHEF') }}
        </ion-label>
        <ion-select [(ngModel)]="recipe.chef" interface="popover">
          <ion-select-option *ngFor="let chef of chefs" [value]="chef.id">
            {{ chef.name }}
          </ion-select-option>
        </ion-select>
      </ion-item>
    </div>

    <!-- Subir imagen -->
    <div class="file-upload">
      <label for="fileInput">
        <ion-icon name="cloud-upload-outline"></ion-icon>
        {{ translationService.getTranslation('RECIPES.UPLOAD_IMAGE') }}
      </label>
      <input id="fileInput" type="file" (change)="onFileSelected($event)" />
    </div>

    <!-- Botón de guardar -->
    <ion-button expand="block" class="save-button" (click)="saveRecipe()" color="secondary">
      <ion-icon slot="start" name="checkmark-circle-outline"></ion-icon>
      {{ translationService.getTranslation('RECIPES.SAVE_BUTTON') }}
    </ion-button>
  </div>
</ion-content>
