ion-content {
    --background: #fab027; /* Fondo naranja clarito */
    display: flex;
    justify-content: center;
    padding: 1rem;
  }
  
  .card-container {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    gap: 1rem;
    width: 100%;
    max-width: 1200px;
  }
  