<ion-header>
  <ion-toolbar>
    <ion-title>Recetas</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div class="recipe-grid">
    <app-recipe-card
      *ngFor="let recipe of recipes"
      [recipe]="recipe"
      (edit)="openModal($event)"
      (delete)="deleteRecipe($event)"
      (openDetail)="openRecipeDetail($event)"
    ></app-recipe-card>
  </div>

  <ion-fab vertical="bottom" horizontal="end" slot="fixed">
    <ion-fab-button (click)="openModal()">
      <ion-icon name="add"></ion-icon>
    </ion-fab-button>
  </ion-fab>
</ion-content>
