<ion-header>
  <ion-toolbar>
    <ion-title>Recetas</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-list>
    <app-recipe-card
      *ngFor="let recipe of recipes"
      [recipe]="recipe"
      (edit)="openModal(recipe)"
      (delete)="deleteRecipe(recipe.id)"
    ></app-recipe-card>
  </ion-list>

  <ion-fab vertical="bottom" horizontal="end" slot="fixed">
    <ion-fab-button (click)="openModal()">
      <ion-icon name="add"></ion-icon>
    </ion-fab-button>
  </ion-fab>
</ion-content>
