<ion-header>
  <ion-toolbar color="warning">
    <ion-title class="recipe-title">
      {{ translationService.getTranslation('RECIPES.TITLE') }}
    </ion-title>
    <ion-buttons slot="end">
      <ion-button (click)="close()">
        <ion-icon name="close-outline" color="dark"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div class="recipe-detail">
    <div class="image-container">
      <ion-img *ngIf="recipe.image" [src]="recipe.image" alt="Imagen de receta"></ion-img>
    </div>
    <div class="recipe-info">
      <h2>{{ recipe.name }}</h2>
      <p class="chef-name">
        <strong>{{ translationService.getTranslation('RECIPES.CHEF') }}:</strong>
        {{ recipe.chef?.name || translationService.getTranslation('RECIPES.NO_CHEF') }}
      </p>
      <p class="ingredients">
        <strong>{{ translationService.getTranslation('RECIPES.INGREDIENTS') }}:</strong>
      </p>
      <p>{{ recipe.ingredients }}</p>
      <p class="description">
        <strong>{{ translationService.getTranslation('RECIPES.DESCRIPTION') }}:</strong>
      </p>
      <p>{{ recipe.descriptions }}</p>
    </div>
  </div>
</ion-content>
