<ion-header>
  <ion-toolbar>
    <ion-title>{{ chef?.id ? 'Editar Chef' : 'Crear Chef' }}</ion-title>
    <ion-buttons slot="end">
      <ion-button (click)="close()">Cerrar</ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <form (ngSubmit)="saveChef()">
    <ion-item>
      <ion-label position="floating">Nombre del Chef</ion-label>
      <ion-input [(ngModel)]="chef.name" name="name" required></ion-input>
    </ion-item>

    <div class="button-container">
      <ion-button expand="full" color="primary" type="submit">Guardar</ion-button>
    </div>
  </form>
</ion-content>
