ion-header {
    --background: #ffa500; /* Fondo de cabecera */
    --color: white; /* Texto en blanco */
  }
  
  .modal-form {
    padding: 16px;
  }
  
  ion-item {
    --background: #fff4e6; /* Fondo suave para el input */
    --border-color: #ffa500;
    --color-focused: #e69500; /* Naranja intenso */
  }
  
  .button-container {
    margin-top: 20px;
  }
  
  ion-button {
    --background: #ffcc00; /* Amarillo para combinar con la paleta */
    --background-hover: #e6b800; /* Hover más oscuro */
    --color: white;
    border-radius: 8px;
    font-weight: bold;
  }
  
  ion-button ion-icon {
    margin-right: 8px;
    font-size: 16px;
  }
  